# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
.tox/
.nox/
.pytest_cache/
coverage.xml
htmlcov/

# VS Code
.vscode/

# Virtualenvs
venv/
ENV/
env/

# Cache directories
cache/
__pycache__/

# PyCharm
.idea/

# Local env variables
.env
.venv

*.prof
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
debug*